.box {
  width: 100%;
  background: #ccc;
}
.box .content {
  width: 1200px;
  margin: 0 auto;
  background: #8FBC8F;
}
.box .content .tittle {
  height: 60px;
  border-bottom: 3px solid red;
  line-height: 70px;
}
.box .content .tittle .left {
  float: left;
  width: 20px;
  height: 20px;
  background: red;
  margin-top: 25PX;
  border-radius: 10px;
}
.box .content .tittle .left .in {
  display: block;
  width: 10px;
  height: 10px;
  background: lemonchiffon;
  margin: 5px;
  border-radius: 5px ;
}
.box .content .tittle h2 {
  float: left;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
}
.box .content .song {
  width: 100%;
  height: 600px;
  position: relative;
}
.box .content .song .detail {
  width: 460px;
  height: 360px;
  border: 1px solid #fff;
  padding: 20px;
  position: absolute;
  right: 80px;
  top: 50px;
}
.box .content .song .img {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 80px;
  top: 50px;
  border-radius: 250px;
  animation: donghua 5s infinite;
}
.box .content .song .img img {
  width: 500px;
  height: 500px;
  border-radius: 250px;
}
.box .content .song audio {
  position: absolute;
  width: 500px;
  right: 80px;
  bottom: 50px;
}
@keyframes donghua {
  50% {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -moz-transform: scale(1.1);
    /* Firefox */
    -webkit-transform: scale(1.1);
    /* Safari 和 Chrome */
    -o-transform: scale(1.1);
    /* Opera */
  }
}
