@font-face {
  font-family: "iconfont"; /* Project id 2581191 */
  src: url('iconfont.woff2?t=1631171837223') format('woff2'),
       url('iconfont.woff?t=1631171837223') format('woff'),
       url('iconfont.ttf?t=1631171837223') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\e7f0";
  font-size: 40px;
  color: red;
}

.icon-tubiao-:before {
  content: "\e60f";
}

.icon-gouwuche:before {
  content: "\e604";
}

.icon-gouwuchefuben:before {
  content: "\e605";
}

